{% load static %}

<div class="site-section subscribe bg-light">
    <div class="container">
    <form action="#" class="row align-items-center">
        <div class="col-md-5 mr-auto">
        <h2>JOIN OUR NEWSLETTER</h2>
        <p>Subscribe our newsletter to receive the latest news and exclusive offers every week. No spam.</p>
        </div>
        <div class="col-md-6 ml-auto">
        <div class="d-flex">
            <input type="email" class="form-control" placeholder="Enter your email">
            <button type="submit" class="btn btn-secondary" ><span class="icon-paper-plane"></span></button>
        </div>
        </div>
    </form>
    </div>
</div>    